[submodule "Scripts/Synechococcus_Paper/Differential_Read_Counting"]
	path = Scripts/Synechococcus_Paper/Differential_Read_Counting
	url = https://github.com/hsmurali/differential_read_counting
[submodule "Scripts/Synechococcus_Paper/MetaCarvel"]
	path = Scripts/Synechococcus_Paper/MetaCarvel
	url = https://github.com/marbl/MetaCarvel
